<footer class="p-5 text-muted">
    <div class="container-fluid">
        <p class="lead">Made by Miguel Vargas, 2022. All Rights Reserved &copy;</p>
        <hr>
        <a href="https://www.linkedin.com/in/miguel-e-vargas-aba12a15a" target="_blank" data-bs-toggle="tooltip" 
        data-bs-placement="right" title="Go to my LinkediIn" data-bs-custom-class="custom-tooltip">
            <img src="/static/portafolio/images/linkedin.svg" alt="Linkedin" width="60" height="60">
        </a>       
    </div>
</footer>